.dark {
    background-color: #000;
    color: #fff
}

.red {
    background-color: #832;
    color: #fff
}

.btn {
    border: 1px solid ccc;
    outline: none;
    padding: 12px 15px;
    /* background-color: blue; */
    /* color: #fff; */
    cursor: pointer;
    margin-top: 10px;
}